 *{
        margin: 0;
        padding: 0;     
 }
 
 
 
 header{
    background:black;
    padding: 5px 10;

 }

 .caixa{
       margin: 0 auto;
        position: relative;
        max-width: 1100px;
        padding: 0 1%;
 }
 
  nav{
        
        position: absolute;   

  }

    .menu{
            padding-top: 10px;
            
    }

 .menu a{
    text-align:left;
     color:black;
     text-decoration: none; 
     margin-right: 5px;
     font-weight: bold;
     margin: 5px;
     font-size: 30px;
     color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


 }

  .logo{
            position: relative;
            top: 15px;
            


  }
  
  h2{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        text-align: right;
        

  }
  
  body{
    background-color:rgb(1, 0, 68);
  }

 .produtos p{
      background: 1px rgb(0, 0, 0);
      font-size: 40px;
      color: white;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      }
  
 .produtos{
       display: flex;
       justify-content: space-around;     
       margin-top: 80px;
      }

 .produto{     
       cursor:pointer;
       
 }

 .produto p:hover {
            transform:rotate(-3deg);

 }

 .sobre {
       margin-top: 5cm;
       text-align: center;
       color:whitesmoke;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

 .buttonClass {
      font-size:26px;
      font-family:Arial;
      width:140px;
      height:40px;
      border-width:1px;
      color:#fff;
      border-color:rgba(229, 233, 230, 1);
      font-weight:bold;
      border-top-left-radius:8px;
      border-top-right-radius:8px;
      border-bottom-left-radius:8px;
      border-bottom-right-radius:8px;
      box-shadow: 0px 10px 14px -7px #276873;
      text-shadow: 0px 1px 0px rgba(4, 138, 50, 1);
      background:linear-gradient(rgba(0, 97, 12, 1), rgba(17, 185, 39, 1));
    }
    
    .buttonClass:hover {
      background: linear-gradient(rgba(17, 185, 39, 1), rgba(0, 97, 12, 1));
    }
                  